.site-header{
    background-color: rgba(0, 0, 0, .85);
}

.opciones-menu{
    gap: 16px;
}

.tarjetas-cursos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.footer {
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.imagen-16x9{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.collapse{
    display: none !important;
}

.collapse.show{
    display: block !important;
}

.tarjetas-cursos:has(.show) + div button{
    display: none;
}